<!-- layout -->
<% layout("layouts/boilerlplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3><%= showall.title %></h3>

      <div class="card listing-card">
        <img
          src="<%= showall.image.url %>"
          class="card-img-top show-img"
          alt="imag"
        />
        <!--  owner data   -->
        <p>owner by <%= showall.owner.username %></p>
        <div class="card-body">
          <p class="card-text"><%=showall.title %></p>
          <p class="card-text">
            &#8377;<%= showall.price.toLocaleString("en-IN") %>
          </p>
          <p class="card-text"><%= showall.location %></p>
          <p class="card-text"><%=showall.country %></p>
        </div>
      </div>

      <% if (sessionuser&&sessionuser._id.equals(showall.owner._id)) { %>

      <div class="bt">
        <a
          href="/listing/<%= showall._id %>/edit "
          class="btn btn-light"
          style="background-color: red"
          >Edit</a
        >

        <form method="post" action="/listing/<%= showall._id %>?_method=DELETE">
          <button class="btn btn-dark">Delete</button>
        </form>
      </div>
    </div>
    <% } %>

    <!--  -->

    <% if (sessionuser) { %>

    <!--  review containt -->
    <div class="col-8 offset-2 mb-3">
      <hr />
      <h4>Leave a Review</h4>
      <form
        method="post"
        action="/listing/<%= showall._id%>/reviews"
        novalidate
        class="needs-validation"
      >
        <div class="mt-3 mb-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <legend></legend>
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mt-3 mb-3">
          <label for="comment" class="form-label">comment</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">plz add some comment here</div>
        </div>
        <div>
          <button class="btn btn-outline-dark">Submit</button>
        </div>
      </form>

      <% } %>
      <br />
      <hr />

      <div class="row">
        <h4 style="text-align: center; padding-right: 35px">All Reviews</h4>
        <% for( reviewData of showall.reviews ) { %>
        <div class="card col-5 ms-3 mb-3 text-bg-secondary">
          <div class="card-body">
            <h5 class="card-title"><%= reviewData.author.username %></h5>
            <p
              class="starability-result"
              data-rating="<%= reviewData.rating %>"
            >
              Rated: 3 stars
            </p>
            <p class="card-text"><%= reviewData.comment %> , star</p>
          </div>
          <form
            method="post"
            action="/listing/<%= showall._id%>/reviews/<%= reviewData._id%>?_method=DELETE"
          >
            <button class="btn btn-dark mb-3 mt-2">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
